#jumbotron {
  margin-top: 100px;
  @include paddingUpDown80px;
  @include flexVerticalAlign;

  #jumboLeft {
    width: calc(100% / 2);

    h1 {
      font-size: 70px;
      font-weight: bolder;
      line-height: 100px;
    }

    h2 {
      font-size: 32px;
      margin-top: 20px;
      line-height: 50px;
    }
  }

  #jumboRight {
    width: calc(100% / 2);
    text-align: right;
    img {
      width: 90%;
    }
  }
}
